.menu{
  margin-left: auto;
}

/*----------------------------------Cuerpo---------------------------------------*/
i{
  width: 100%;
  padding: 20px;
}
p{
  text-align: justify;
}
h3{
  text-align: center;
}
.pic-habilidades{
  width: 80%;
}

#servicios{
  margin-top: 20px;
}
.uno-tercero{
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px;
  margin: auto;
  margin-top: 10px;
}

.ver-mas{
  margin: 5px;

}




/*-----------------------------footer----------------------------*/
.menu2{
  margin: auto;
  margin-bottom: 20px;
}
.redes{
  margin-bottom: 10px;
}

.footer1{
  margin-top: 20px;
  background-color: white;
  box-shadow: 0px -2px 5px 1px;
  padding: 10px;
  height: auto;
}
.img-redes{
  width: 30px;
}
.logo-footer{
  margin: 10px;
  width: 100%;
  text-align: center;
}
.second-footer{
  padding: 10px;
  background-color: rgb(35, 38, 38);
  color: white;
  text-align: right;
}
.second-footer p{
  text-align: right;
  font-size: 20px;
}
.second-footer a{
  color: white;
}
